# ==============================
# AMBIENTE VIRTUAL PYTHON
# ==============================
venv/
.venv/

# ==============================
# VARIÁVEIS E SEGREDOS
# ==============================
.env
.env.*
!.env.example

# ==============================
# BANCO DE DADOS LOCAL
# ==============================
*.db
*.sqlite
*.sqlite3

# ==============================
# DOWNLOADS E ARQUIVOS GERADOS
# ==============================
downloads/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# SISTEMA / EDITOR
# ==============================
.vscode/
.idea/
.DS_Store
Thumbs.db